%h5
  %a{:href=>companies_path}
    Click to return to Main Page
%br

%h1 Resources
%p Bootstrap your new performance works with these resources.
%h3 Umbrellas

%h5
  %a{:href=>"http://www.austincreativealliance.org"}
    Austin Creative Alliance
%p ACA strengthens the region's creative sector through: Advocacy and Cultural Policy; Marketing and Communication; and Membership Services.

%h5
  %a{:href=>"http://http://scriptworks.org/"}
    Scriptworks
%p ScriptWorks is both a playwright-driven service organization and a theatrical producing company. We exist to support dramatic writers by providing opportunities at all stages in the writing process - from inception through production. 

%h5
  %a{:href => "https://www.facebook.com/utnewworksfestival"}
    The University Co-op presents the Cohen New Works Festival
%p The University of Texas' New Works Festival

%h3 Criticism

%h5 
  %a{:href=>"http://austinlivetheatre.com/"}
    Austin Live Theatre
%p  Reviews, arts news and a calendar for the vigorous theatre scene in Austin, Texas and nearby.

%h5
  %a{:href=>"http://www.austinchronicle.com"} 
    Austin Chronicle
%p Austin's main alternative weekly

%h5
  %a{:href =>"http://www.statesman.com"}
    Austin American Statesman
%p Austin's daily newspaper

%h5
  %a{:href =>"http://www.examiner.com/theater-in-austin/ryan-e-johnson"}
    Austin Theatre Examiner
%p Criticism by Ryan E. Johnson
        

%h3 Physical Resources    

%h5 
  %a{:href => "http://austinsceniccoop.org/"}
    Austin Scenic Co-op
%p Rent scenic pieces for cheaper than you can buy them.

%h5
  %a{:href => "http://www.oldenlighting.com/main/about.html"}
    Olden Lighting
%p Lighting sales and rentals

%h5
  %a{:href => "http://www.rocknrollrentals.com/"}
    Rock and Roll Rentals
%p Rentals for PAs and Speakers         

%h3 News

%h5
  %a{:href => "https://www.facebook.com/newworkaustin"}
    New Work Austin on Facebook
%p Like New Work Austin on Facebook

%h5
  %a{:href => "https://www.facebook.com/lists/10150637417938371"}
    Austin Theater List on Facebook    
%p A collection of most of the companies in Austin's Facebook pages
    

%h3 Ticketing
%h5
  %a{:href=>"http://www.buyplaytix.com"}
    BuyPlayTix
%p Botique free online ticketing service located in Austin, TX
%h5
  %a{:href=>"http://www.brownpapertickets.com"}
    Brown Paper Tickets
%p Ticketing for small and mid-sized venues and events.  

%h5
  %a{:href=>"http://www.eventbrite.com/"}
    Event Brite
%p Ticketing that is unique in that you get proceeds and then are billed for your service usage.     

