$companyback: #292929;
$companyfore: #ffffff;
$background: #000000;
$hl1: #063559;
$hl2: #0D8C7F;
$hl3: #8FBF4D;
$hl4: #D95929;
$hl5: #F2D13E;
 

// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Asap', sans-serif;
}
.page-header {
  margin: 0 50px 0 0;
  h1 {
    font-family: 'Abril Fatface', cursive;
    line-height: 90%;
    font-size: 500%;
    letter-spacing: -2px;
  }
  .desc {
    font-style: italic;
    font-weight: 400;
    font-size: 175%;
    line-height: 95%;
    width: 65%;
    padding: 50px;
  }
}
a.add {
  margin-left: 300px;
}
.menu-img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 200px;
  padding: 0px;
  margin-top: 10px;
  background-color: $background;
  box-shadow: 5px 5px 2px $companyback;
  border: 1px solid $companyback;
  font-style: normal;
  font-weight: 700;
  .company-name, .company-name-alt {
      position: absolute;
      bottom: 0;
    text-align: center;
    /* Takes into account the padding */
    width: 196px;
    height: 30px;
    padding: 2px 2px 4px 2px;
    background-color: $companyback;
    color: $companyfore;    
    line-height: 22pt;
  }
  .company-name-alt {
    display: none;
  }
  .hl1 {
    background-color: $hl1;  
  }
  .hl2 {
    background-color: $hl2;  
  }
  .hl3 {
    background-color: $hl3;  
  }
  .hl4 {
    background-color: $hl4;  
  }
  .hl5 {
    background-color: $hl5;  
    color: black;
  }    
  .darkener {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    .description {
      position: absolute;
      color: $companyfore;
      padding: 5px;
      margin: auto;
      width: 190px;
      height: 160px;
      top: 0;
    }
  }
}
footer {
    font-style: italic;
    font-weight: 400;
    font-size: 120%;
    text-align: right;
    padding-bottom: 1em;
    border-top: 1px solid #EEE;
}
.actionbar {
    text-align: right;
    margin-top: 25px;
    float: right;
}
.imgcol {
  .menu-img {
    right: 0;
  }
}
.page-header {
  margin-bottom: 2em;
}
.home, .home:hover {
  text-decoration: none;
}
tr {
  border-top: 1px solid #EEE;
}
.well {
  font-size: 80%;
}
.navbar-inverse {
  background-color: #EEE;
  color: #000;
}
.row.main {
  padding-bottom: 2em;
}
